---
---
.background {
  position: relative;
  background: var(--background);
  color: var(--heading-text);
  z-index: 1;
  font-size: var(--medium);
}

.background:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--image);
  background-size: cover;
  background-repeat: repeat;
  background-position: 0% 0%;
  opacity: var(--opacityval);
  z-index: -1;
}
