---
---
$logo-big: 100px;
$logo: 40px;
$big-padding: 10px;
$collapse: 1470px;
$limit-title: 400px;
$sticky: true;
$button_width: 450px;
$fullcollapse: 940px;

header2 {
  display: flex;
  gap: 0px;
  margin: 0px 0;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  box-shadow: var(--shadow);
  justify-content: space-between;

  @if $sticky {
    position: sticky !important;
    top: 0;
    z-index: 10 !important;
  }
}

header2 a {
  color: var(--heading-text);
  text-decoration: none;
  text-shadow: 0px 0px 10px var(--background-alpha);
}

.home2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  min-width: calc(100% * 1/2 - 30px - 1px);
}

.logo2 {
  justify-content: flex-start;
  height: $logo;
}

.logo2 > * {
  height: 100%;
}

.title2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 5px;
  min-width: 0;
  font-family: var(--title);
  text-align: left;
  padding: 0px 10px 10px 10px;
}

// main title
.title2 > *:first-child {
  font-size: var(--large);
  font-weight: 500;
  text-shadow: 0px 0px 10px var(--background-alpha);
}

// subtitle
.title2 > *:last-child {
  color: var(--gray);
  font-weight: var(--medium);
  text-shadow: 0px 0px 10px var(--background-alpha);
}

nav2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  font-family: var(--heading);
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  min-width: calc(100% * 1/2 - 1px);
}

nav2 > a {
  padding: 5px;
}

nav2 > a:hover {
  color: var(--primary);
}

.nav2-toggle {
  display: none;
  position: absolute;
  justify-content: center;
  width: 30px;
  height: 20px;
  margin: 0;
  left: calc(100% - 25px);
  top: 20px;
  color: var(--heading-text);
  -webkit-appearance: none;
  appearance: none;
  transition-property: background;
}

.nav2-toggle:after {
  content: "\f0c9";
  position: absolute;
  justify-content: flex-end;
  align-items: flex-end;
  left: calc(100% - 25px);
  top: 0px;
  color: var(--heading-text);
  font-size: 1rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  transform: translate(-50%, -50%);
  flex-direction: row;
}

.nav2-toggle:checked:after {
  content: "\f00d";
}

nav2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  font-family: var(--heading);
  font-size: 1.5;
  font-weight: 500;
  text-transform: uppercase;
  min-width: calc(100% * 1/2 - 1px);
}

nav2 > a {
  padding: 5px;
}

nav2 > a:hover {
  color: var(--primary);
}

header2 {
  @media (max-width: $collapse) {
    justify-content: flex-start;
    
    .home2 {
      min-width: calc(100% - 231px)
    }
    .nav2-toggle {
      display: flex;
    }

    .nav2-toggle:not(:checked) + nav2 {
      display: none;
    }

    nav2 {
      align-items: flex-end;
      flex-direction: column;
      min-width: 200px;
    }
  }

  @media (max-width: $fullcollapse) {
    nav2 {
      align-items: flex-end;
      flex-direction: column;
      min-width: 100%;
    }
  }
}

header2[data-big] {
  flex-direction: row;

  @if $sticky {
    top: unset;
  }

  .home2 {
    flex-direction: row;
    flex-grow: 0;
  }

  .logo2 {
    height: $logo-big;
    aspect-ratio: 1.2;
    align-items: flex-start
  }

  .title2 {
    flex-direction: column;
    align-items: left;
    text-align: left;
  }

  .title2 > *:first-child {
    font-size: min(8vmin,2.5rem);
  }

  .title2 > *:last-child {
    font-size: min(5vmin,1.5rem);
  }

}

maincontent {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family:Cambria;
  font-weight:600;
  max-width:50%;
  padding: 30px;
  text-align: left;
  justify-content: left;
  line-height: calc(var(--spacing) - .4);
}

.textbox {
  font-size:2.5rem;
  padding: 0px 0px 50px 0px;
}
.buttonbox {
  font-size:5vmin;
  max-width: min(150%,$button_width);;
}
.buttonbox2 {
  font-size:5vmin;
  max-width: min(150%,$button_width);
  height:700px;
}

@media (max-width: $limit-title) {
  
  .title2 > *:first-child {
    font-size: var(--medium);
  }

  .title2 > *:not(:first-child) {
    display: none;
  }
}