{% assign image = page.header | default: site.header_city | relative_url %}
{% assign dark = page.header-dark | is_nil: site.header-dark | is_nil: true %}
{% assign svg = "images/logo.svg" | file_exists %}
{% assign png = "images/logo.png" | file_exists %}
{% assign jpg = "images/logo.jpg" | file_exists %}
{% assign logo = svg | default: png | default: jpg | default: nil %}

<header2
  class="background_dark"
  style="--image: url('{{ image }}')"
  {% if dark == true or dark == false %}
    data-dark="{{ dark }}"
  {% endif %}
  {% if page.url == "/" %}
    data-big
  {% endif %}
>
  <a href="{{ "/" | relative_url }}" class="home2">
    {% if logo %}
      <span class="logo2">
        {% if svg %}
          {{ svg | file_read }}
        {% else %}
          <img src="{{ logo | relative_url }}" alt="logo">
        {% endif %}
      </span>
    {% endif %}
    {% if site["logo-text"] != false %}
      <span class="title2" data-tooltip="Home">
        {% if site.title %}
          <span>{{ site.title }}</span>
        {% endif %}
        {% if site.subtitle %}
          <span>{{ site.subtitle }}</span>
        {% endif %}
      </span>
    {% endif %}
  </a>

  <input class="nav2-toggle" type="checkbox" aria-label="show/hide nav">

  <nav2>
    {% assign pages = site.pages
      | where_exp: "page", "page.nav"
      | sort: "nav.order"
    %}
    {% for page in pages %}
      {% if page.nav %}
        <a
          href="{{ page.dir | relative_url }}"
          data-tooltip="{{ page.nav.tooltip }}"
        >
          {{ page.title }}
        </a>
      {% endif %}
    {% endfor %}
  </nav2>
    <div markdown="1">
      <br/>
      <maincontent>
        <span class="textbox">
          <mark>Researching the circuits that regulate</mark>
          <mark>emotional response</mark>
        </span>
        <span class="buttonbox">
          {%
            include button.html
            link="lab"
            text="Learn more"
            icon="fa-solid fa-arrow-right"
          %}
        </span>
      </maincontent>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/> 
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/> 
      </div>
</header2>