---
---

.background {
  position: relative;
  background: var(--background);
  color: var(--text);
  z-index: 1;
  font-size: 1.4rem;
}

.background:before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--image);
  background-size: auto;
  background-repeat: repeat;
  background-position: 0% 0%;
  opacity: 1;
  z-index: -1;
}
